.about-content {
    display: flex;
    flex-direction: column;
    @include desktop{
        flex-direction: row;
    }
    .about-hero {
        @include desktop {
            width: 50%;
            order: 1;
        }
        h1 {
            display: none;
        }
    }
    .text-section {
        @include desktop {
            width: 45%;
            margin-top: 66px;
        }
    }
}