 .contact-hero h1 {
     display: none;
 }
 
 .contact-content {
     text-align: center;
     @include desktop {
         display: flex;
         justify-content: space-between;
         .contact-container {
             display: flex;
             flex-direction: column;
             width: 35%;
         }
     }
     .contact-title {
         font: $font__main;
         h1 {
             font-size: 3rem;
             color: $color-blue;
             font-weight: 200;
             text-transform: uppercase;
             @include desktop {
                 font-size: 2rem;
                 font-weight: 400;
             }
         }
         h3 {
             color: $color__border-abbr;
             line-height: 35px;
             font-weight: 100;
             @include desktop {
                 text-align: left;
                line-height: 30px;
                font-size: 1rem;
             }
         }
     }
     .contact-info {
         display: block;
         p {
             text-transform: lowercase;
             letter-spacing: 0;
             color: $color__border-abbr;
             i {
                 color: $color_red;
                 margin: 0 17px;
             }
             span {
                 text-transform: uppercase;
                 letter-spacing: 2px;
             }
             .contact-info-title{
                 margin-right: 20px;
             }
             fa fa-phone{
                 margin-right: 30px;
             }
         }
         @include tablet {
             display: flex;
             justify-content: space-around;
             font: $font__main;
         }
         @include desktop {
             flex-direction: column;
             align-self: flex-start
         }
     }
 }
 
 //for the contact form
 .message-box {
     @include desktop {
         width: 50%;
     }
     input[type="text"],
     input[type="email"] {
         width: 100%;
         height: 40px;
         font: 1rem $font__main;
         width: 100%;
         background-color: $color-lightgrey;
         text-indent: 35px;
         border: 1px solid $color__form-border;
         border-radius: 0.5em;
     }
     .your-message {
         .wpcf7-textarea {
             background-color: $color-lightgrey;
             border-radius: 0.4em;
             border: 1px solid $color__form-border;
             border-radius: 0.5em;
             text-indent: 10px;
         }
     }
     .contact-button {
         width: 100%;
         input[type="submit"] {
             @include buttons;
             margin: auto;
             width: 200px;
             &:hover {
                 background-color: transparent;
                 color: $color_red;
                 border: 2px solid $color__link-hover;
             }
         }
     }
     .widget-area {
         display: none;
     }
     .wpcf7-form {
         display: flex;
         flex-wrap: wrap;
         flex-direction: column;
         color: $color_footer;
         @include tablet {
             justify-content: space-between;
             flex-direction: row;
             .contact-name,
             .contact-email {
                 width: 48%;
             }
         }
         p {
             position: relative;
             .fa {
                 position: absolute;
                 z-index: 100;
                 font-size: 18px;
                 top: 22%;
                 left: 3%;
             }
         }
         .wpcf7-not-valid-tip {
             color: $color-blue;
             font: 0.75rem $font__main;
         }
         .wpcf7-response-output, .screen-reader-response {
             border: none;
             color: $color_red;
             font: 1rem $font__main;
         }
     }
 }