.site-footer {
   
    .footer-container {
        
        margin: auto;
        width: 200px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        h2 {
            color: $color_cream;
            width: 100%;
            text-align: center;
             font: 1rem $font__main;
     font-weight: 100;
        }
        a {
            color: $color_lightgrey;
            height: 50px;
            width: 50px;
            background-color: $color__border-abbr;
            font-size: 1.5rem;
            border-radius: 50%;
            border: 2px solid $color__border-abbr;
            display: block;
            align-items: center;
            display: flex;
            text-align: center;
            justify-content: center;
            i {
                padding: 1px 8px;
            }
            &:hover {
            color: $color__border-abbr;
            }
        
        }
    }
    .copyright h3 {
                text-align: center;
font: 1rem $font__main;
            }
}