
.front-content {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    @include tablet {
        text-align: left;
        width: 85%;
    }
    .title {
        text-transform: uppercase;
        @include tablet{
                padding-top: 37px;
        }
        .small {
            letter-spacing: 4px;
            color: $color_footer;
            margin: 0;
        }
        .large {
            font: 2rem $font__main;
            font-weight: 300;
            margin: 0;
            @include tablet{
                font-size:5rem;
            }
            @include desktop{
                font: 7rem $font__main;
            }
            span:before {
            @include tablet{
                content: '\a';
                white-space: pre;
                            }
        }
        }
    }
    h2{
        display:none;
    }
}

.front-description {
    width:100vw;
    margin:auto;
p {
    color: $color_footer;
    padding:none;
    font: 1rem $font__main;
    @include tablet {
        width: 300px;
            line-height: 30px;
    }

}
}

.front-image {
    order: -1;
    @include tablet {
        order: 0;
        text-align: right;
    }
}

.front-button a{
    padding: 10px;
    border: 1px solid $color-cream;
    border-radius: 10%;
    color: $color-grey;
    background-color: $color-cream;
}