.site-content {
    width: 100%;
}

.front-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    @include tablet {
        text-align: left;
    }
    .title {
        text-transform: uppercase;
        @include desktop{
                padding-top: 37px;
        }
        .small {
            letter-spacing: 4px;
            color: $color_footer;
            margin: 0;
        }
        .large {
            font: 2rem $font__main;
            font-weight: 300;
            margin: 0;
            @include tablet{
                 font: 5rem $font__main;
            }
            span:before {
            @include tablet{
                content: '\a';
                white-space: pre;
                            }
        }
        }
    }
    h2{
        display:none;
    }
}

.front-description {
    width:100vw;
    margin:auto;
p {
    color: $color_footer;
    padding:none;
    @include tablet {
        width: 400px;
        font: 1.3rem $font__main;
    }
}
}

.front-image {
    order: -1;
    @include tablet {
        order: 0;
        text-align: right;
    }
}