/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/


/* Links */

a {
	color: black;
	text-decoration: none;
	transition: all 0.5s ease;
	&:visited {
		color: $color_black;
	}
	&:focus {
		outline: thin dotted;
	}
}


/* Menus */

.site-header {
	width: 90%;
	margin: auto;
	height: 68px;
	.container {
		height: 100%;
		display: flex;
		justify-content: space-between;
		position: relative;
	}
}

.container {
	@include tablet {
		display: flex;
	}
	.site-branding {
		height: 1.5em;
		width: 5em;
		img {
			height: 49px;
			max-width: 100%;
			@include tablet {
				height: 59px;
			}
		}
	}
	.nav {
		.toggle-button {
  position: fixed;
  width: 44px;
  height: 40px;
  padding: 4px;
  transition: .25s;
  z-index: 15;
}
.toggle-button:hover {
  cursor: pointer;
}
.toggle-button .menu-bar {
  position: absolute;
  border-radius: 2px;
  width: 80%;
  transition: .5s;
}
.toggle-button .menu-bar-top {
  border: 4px solid #555;
  border-bottom: none;
  top: 0;
}
.toggle-button .menu-bar-middle {
  height: 4px;
  background-color: #555;
  margin-top: 7px;
  margin-bottom: 7px;
  top: 4px;
}
.toggle-button .menu-bar-bottom {
  border: 4px solid #555;
  border-top: none;
  top: 22px;
}
.button-open .menu-bar-top {
  transform: rotate(45deg) translate(8px, 8px);
  transition: .5s;
}
.button-open .menu-bar-middle {
  transform: translate(230px);
  transition: .1s ease-in;
  opacity: 0;
}
.button-open .menu-bar-bottom {
  transform: rotate(-45deg) translate(8px, -7px);
  transition: .5s;
}
.menu-wrap {
    background-color: #6968AB;
    position: fixed;
    top: 0;
    height: 100%;
    width: 280px;
    margin-left: -280px;
    font-size: 1em;
    font-weight: 700;
    overflow: auto;
    transition: .25s;
    z-index: 10;
}

.menu-show {
    margin-left: 0;
    box-shadow: 4px 2px 15px 1px #B9ADAD;
}
		@include tablet{
			order: 2;
		}
		#primary-menu {
			text-transform: uppercase;
			@include tablet {
				display: flex;
			}
		}
		ul {
			font-size: 1rem;
			list-style: none;
			@include tablet {
				overflow: visible;
				background-color: white;
				width: auto;
				position: initial;
				height: 68px;
				a {
					display: block;
					line-height: 68px;
					padding: 0 10px;
					color: color-blue;
					&:hover {
						color: white;
						background-color: $color_footer;
						.highlight-blue {
							color: $color_footer;
						}
					}
				}
				.menu-item-41 {
					border: 1px solid black;
				}
			}
		}
		li.current-menu-item a {
			background: $color_footer;
			color: $color-lightgrey;
		}
	}
}
