/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/


/* Links */

a {
	color: black;
	text-decoration: none;
	transition: all 0.5s ease;
	&:visited {
		color: $color_black;
	}
	
	&:focus {
		outline: thin dotted;
	}
	
}


/* Menus */

.site-header {
	width: 90%;
	margin: auto;
	height: 68px;
	.container {
		height: 100%;
		display: flex;
		justify-content: space-between;
		position: relative;
	}
}

.site-branding {
	height: 1.5em;
	width: 5em;
	img {
		height: 49px;
		max-width: 100%;
		@include tablet {
			height: 59px;
		}
	}
}

.main-navigation {
	#primary-menu {
		@include tablet {
			display: flex !important;
		}
	}
	ul {
		font-size: 1rem;
		text-transform: uppercase;
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		background: $color_footer;
		width: 100vw;
		height: calc(100vh - 68px);
		list-style: none;
		margin: 0;
		padding-left: 0;
		@include tablet {
			overflow: visible;
			background-color: white;
			width: auto;
			position: initial;
			height: 68px;
			a {
				display: block;
				line-height: 68px;
				padding: 0 10px;
				color: color-blue;
				&:hover {
					color: white;
					background-color: $color_footer;
					.highlight-blue {
						color: $color_footer;
					}
				}
			}
			.menu-item-41 {
				border: 1px solid black;
			}
		}
	}
	li.current-menu-item a {
		background: $color_footer;
		color: $color-lightgrey;

		
	}
}


/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@include tablet {
	.menu-toggle {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}
	.nav-previous {
		float: left;
		width: 50%;
	}
	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}