
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/


/* Links */

a {
	color: black;
	text-decoration: none;
	transition: all 0.5s ease;
	&:visited {
		color: $color_black;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color-lightgrey
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}


/* Menus */

.site-header {
	background: $color-lightgrey;
	z-index: 2;
	height: 68px;
	width: 100%;
	box-shadow: 0 0 8px rgba(0, 0, 0, .7);
	.container {
		height: 100%;

		padding: 0 1rem;
		display: flex;
		justify-content: space-between;
		position: relative;
	}

}

.site-branding {
	height: 1.5em;
	width: 5em;

img{
	    height: 49px;
    max-width: 100%;
		@include tablet{
			height: 59px;
		}
}
}

.main-navigation {
	#primary-menu {
		@include tablet {
			display: flex !important;
		}
	}
	ul {
		overflow: auto;
		font-size: 1rem;
		text-transform: uppercase;
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		background: $color_footer;
		width: 100vw;
		height: calc(100vh - 68px);
		list-style: none;
		margin: 0;
		padding-left: 0;
		@include tablet {
			overflow: visible;
			background-color: white;
			width: auto;
			position: initial;
			height: 68px;
			a {
				display: block;
				line-height: 68px;
				padding: 0 10px;
				color: color-blue;
				&:hover {
					color: white;
					background-color: $color_footer;
					.highlight-blue {
						color: $color_footer;
					}
				}
			}
			.menu-item-41{
				border: 1px solid black;
			}
		}
		li {
			padding: 10px 20px;
			white-space: nowrap;
			&:hover>a,
			&.focus>a {}
			@include tablet {
				position: relative;
				background-color: transparent;
				margin: 0;
				padding: 0;
			}
		}
		
		
		ul {
			display: block;
			top: inherit;
			position: inherit;
			height: auto;
			@include tablet {
				padding: 0;
				position: absolute;
				top: 100%;
				display: none;
				z-index: 99999;
			}
			li {
				font-size: 1em;
				margin: 0;
				padding: 10px 0;
				display: block;
				&:hover>ul,
				&.focus>ul {
					margin-left: auto;
					margin-right: auto;
					left: 100%;
					right: 100%;
				}
				@include tablet {
					padding: 0;
				}
			}
			:hover>a,
			.focus>a {}
			a:hover,
			a.focus {}
		}
		li:hover>ul,
		li.focus>ul {
			display: block;
		}
	}
	.current_page_item>a,
	.current-menu-item>a,
	.current_page_ancestor>a {}
}


/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@include tablet {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}
	.nav-previous {
		float: left;
		width: 50%;
	}
	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

